<!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="get">
    <input type="text" name="id" placeholder="ID">
    <button type="submit">show me</button>
  </form>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="style.css">
  
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section class="form">
 <div class="container">
  <form name="FormEl" action=" ">
    <div class="list">
    <span><b>Заполните форму</b></span>
      <p>Заголовок</p>
      <input name="title" placeholder="Ваш заголовок">
      <p>Автор</p>
      <input name="author" placeholder="Укажите имя">
      <p>Текст статьи</p>
      <textarea name="content"></textarea>
      <input class="button" type="submit" name="button" value="Отправить">
    </div>
  </form>
 </div>
 </section>
<h2 class="ArticleList">Просомтреть статьи: </h2>
<ul class="list"></ul>


 <script>
        const formEl = document.forms.FormEl;
        formEl.addEventListener('submit', async (ev) => {
      ev.preventDefault();
          const data = new FormData(formEl);
          console.log(data.get('author'));
          const result = await axios.post ('/formArt', data);
  });
 </script>
 <script src="/main.js"></script>
</body>
</html>